<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
<meta HTTP-EQUIV="expires" CONTENT="0" />
<title></title>

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/bootstrap-theme.min.css" rel="stylesheet" />
<script src="scripts/vendor/require.js" data-main="scripts/main"></script>

</head>
<body id="body" style="min-height: 547px; cursor: auto;">
	<div ng-controller="testCtrl">

		<div class="container">
			<div class="row ">
				<div class="col-md-6 column">
					<div class="row ">
						<div class="col-md-2 column">
							<span class="label label-default">登录信息:</span>
						</div>
						<div class="loginInfo col-md-10 column"></div>
					</div>
					<div class="row ">
						<div class="col-md-6 column">
							<input type="text" placeholder="用户名" id="userName" />
						</div>
						<div class="col-md-6 column">
							<input type="text" placeholder="密码" id="userPass" />
						</div>
						<select ng-model="position.selected">
							<option value="">-- 请选择职位 --</option>
							<option value="{{p.id}}" ng-repeat="p in position.all">{{p.name}}</option>
						</select>
					</div>
					<div class="row ">
						<div class="col-md-4 column">
							<input type="button" value="login" ng-click="login()" />
						</div>
						<div class="col-md-4 column">
							<input type="button" value="currentUser" ng-click="currentUser()" />
						</div>
						<div class="col-md-4 column">
							<input type="button" value="saveUser" ng-click="saveUser()" />
						</div>
					</div>
				</div>
				<div class="col-md-6 column"></div>
			</div>
		</div>

	</div>
</body>
</html>

